---
layout: workshop
root: .
venue:  SciLifeLab Stockholm alpha building, lunch room.
address:  Science for Life Laboratory, Tomtebodavägen 23A, 17165 Solna, Sweden
country:  se
language:  en
latlng:  59.350178, 18.023487
humandate:  "2015-11-30 - 2015-12-02"
humantime:  9:00 am - 4:30 pm
startdate:  2015-11-30
enddate:  2015-12-02
instructor: Oxana Sachenkova, Olav Vahtras, Radovan Bast, Roman Valls Guimera
helper:  Ahmed Kachkach, Mikael Huss
contact:  brainstorm+swc_data@nopcode.org
etherpad:
eventbrite:
---
<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<h2>General Information</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>'s mission
  is to help scientists and engineers get more research done in less
  time and with less pain by teaching them basic lab skills for
  scientific computing.  This hands-on workshop will cover basic
  concepts and tools, including program design, version control, data
  management, and task automation.  Participants will be encouraged to
  help one another and to apply what they have learned to their own
  research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p>
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>You don't need to have any previous knowledge of the tools that will
    be presented at the workshop.</strong>
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Participants must bring a laptop with
  a few specific software packages installed (listed
  <a href="#setup">below</a>). They are also required to abide by
  Software Carpentry's
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
  We require that all participants sign up for a <a href="https://github.com">GitHub account</a>
  and to <a href="http://swcarpentry.github.io/git-novice/02-setup.html">configure Git</a> on your laptop
  before the course starts
  and we ask the participants to get familiar with Git by reading <a href="http://swcarpentry.github.io/git-novice/">Version Control with Git</a>
  and practicing with basic Git challenges on <a href="https://try.github.io/levels/1/challenges/1">https://try.github.io</a>.
  We will offer a short recap on Git basics during the first day of the course.
</p>

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the header.  If an address
  isn't set in the header, the Software Carpentry admin address is
  used.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2>Schedule</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to the workshop(s).</td> </tr>
      <tr> <td>09:30</td>  <td>Short software carpentry <a href="http://swcarpentry.github.io/python-novice-inflammation/">patient data analysis</a> session.</td> </tr>
      <tr> <td>10:30</td>  <td><a href="http://katyhuff.github.io/python-testing/">Test driven development</a>, Continuous Integration, and Git recap.</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break.</td> </tr>
      <tr> <td>13:00</td>  <td>Students start with the <a href="https://github.com/bast/python-tdd-exercises">Python exercises</a>.</td> </tr>
      <tr> <td>15:45</td>  <td>Collaborative <a href="https://github.com/bast/github-workflow-exercise">GitHub workflow exercise</a>.</td> </tr>
      <tr> <td>16:30</td>  <td>Wrap up, check on status, Q&A and more TA :)</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Recap/logistics/Q&A from previous session.</td> </tr>
      <tr> <td>10:00</td>  <td>Data wrangling lesson from Data Carpentry: <a href="http://www.datacarpentry.org/python-ecology/">python-ecology</a></td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break.</td> </tr>
      <tr> <td>13:30</td>  <td>Putting it all together with some real biological data.</td> </tr>
      <tr> <td>14:00</td>  <td>Introduction to machine learning.</td> </tr>
			<tr> <td>15:00</td>  <td>More real world examples: predictive models of gene expression, etetoolkit, <a href="https://github.com/brainstorm/cancer-hiveplots">cancer hyplots</a>, <a href="https://github.com/brainstorm/scikit-allel-tests">scikit-allel</a>.</td> </tr>

      <tr> <td>18:00 - onwards</td>  <td>Post workshop mingling.</td> </tr>
    </table>
  </div>

  <h3>Day 3</h3>
  <p>
  To get academic credits for the course or just feel like you accomplished
  something, we recommend attending a seminar on day 3 where you can get your
  exercises solutions accepted and discuss any questions you have with the
  instructors.
  </p>

  <p>
  These workshops are registered as PhD level courses at Stockholm University:

  <ul>
    <li>Software carpentry for beginners 1,5 hp</li>
    <li>Data carpentry and machine learning 1,5 hp</li>
  </ul>

  Getting the course certificates requires completing all the workshop assignments.
  </p>
</div>

<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2>Syllabus</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Git and best practices recap</h3>
    <ul>
      <li>Tracking changes.</li>
      <li>Basic clone/pull-add-commit-push-workflow.</li>
      <li>Working with <a href="https://github.com">GitHub</a>.</li>
      <li>Collaborating.</li>
      <li>Test driven development and continuous integration.</li>
      <li><a href="{{site.swc_githubio}}/git-novice/reference.html">Reference...</a></li>
    </ul>
  </div>

    <div class="col-md-6">
      <h3>Data analysis with Pandas</h3>
      <ul>
        <li>Working with vectors and data frames.</li>
        <li>Reading and plotting data.</li>
        <li>Network visualization</li>
        <li>Slicing datasets.</li>
        <li>Data types, dataframe transformations</li>
      </ul>
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Programming in Python</h3>
    <ul>
      <li>Using libraries.</li>
      <li>Working with arrays.</li>
      <li>Reading and plotting data.</li>
      <li>Creating and using functions.</li>
      <li>Loops and conditionals.</li>
      <li>Defensive programming.</li>
      <li>Using Python from the command line.</li>
      <li><a href="{{site.swc_githubio}}/python-novice-inflammation/reference.html">Reference...</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Machine learning</h3>
    <ul>
      <li>Machine learning examples with scikit-learn.</li>
      <li>Applied analysis to biological and ecological datasets.</li>
    </ul>
  </div>
</div>

  <!--
  <div class="col-md-6">
    <h3>Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_githubio}}/matlab-novice-inflammation/reference.html">Reference...</a></li>
     </ul>
   </div>
   -->

<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Setup</h2>

<p>
  To participate in a Software Carpentry workshop, you will need
  access to the software described below. In addition, you will
  need an up-to-date web browser.
</p>
<p>
  We maintain a list of common issues that occur during installation as a reference for instructors
  that may be useful on the
  <a href = "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Configuration Problems and Solutions wiki page</a>.
</p>

<div id="editor"> <!-- Start of 'editor' section. -->
  <h3>Editor</h3>

  <p>
    When you're writing code, it's nice to have a text editor that is
    optimized for writing code, with features like automatic
    color-coding of key words. Editors that you could use if you have not chosen one already are:
  </p>

  <div class="row">
    <table class="table">
      <div class="col-md-6">
        <tr>
            <td align="center"><a href="https://atom.io/"><img height="150" width="150", src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Atom_editor_logo.svg/2000px-Atom_editor_logo.svg.png"/></a></td>
            <td align="center"><a href="https://c9.io/"><img height="150" width="150" src="https://pbs.twimg.com/profile_images/495211744633950209/CvjNepWX.png"/></a></td>
        </tr>
      </div>
    </table>
  </div>
</div> <!-- End of 'editor' section. -->

<div id="python"> <!-- Start of 'Python' section. Remove the third paragraph if
           the workshop will teach Python using something other than
           the IPython notebook.
           Details at http://ipython.org/ipython-doc/2/install/install.html#browser-compatibility -->
  <h3>Python</h3>

  <p>
    <a href="http://python.org">Python</a> is a popular language for
    scientific computing, and great for general-purpose programming as
    well.  Installing all of its scientific packages individually can be
    a bit difficult, so we recommend
    <a href="http://conda.pydata.org/miniconda.html">Anaconda</a>,
    an all-in-one installer.
  </p>

    <p>
      Regardless of how you choose to install it,
      <strong>please make sure you install Python version 3.x</strong>
      (e.g., 3.4 is fine).
    </p>

    <p>
                We will teach Python using the <a href="http://jupyter.org/">Jupyter notebook</a>,
                a programming environment that runs in a web browser. We will be occasionally using
                <a href="http://www.nature.com/news/ipython-interactive-demo-7.21492?article=1.16261#">Nature's (Rackspace) JupyterHub</a>
                and <a href="http://mybinder.org/">mybinder.org</a> for some of the lessons.
    </p>

  <p>
  Once you are done installing the software listed above,
  please go to <a href="setup/index.html">this page</a>,
  which has instructions on how to test that everything was installed correctly.
  Please also verify that you have correctly
  <a href="http://swcarpentry.github.io/git-novice/02-setup.html">configured Git</a> on your laptop
  before the beginning of the course.
  </p>
</div> <!-- End of 'Python' section. -->


<!--
  Uncomment this section if you are using our virtual machine.

<div id="vm">
  <h3>Virtual Machine</h3>

  <p>
    Some instructors prefer to have learners use a virtual machine (VM)
    rather than install software on their own computers.  If your
    instructors have chosen to do this, please:
  </p>
  <ol>
    <li>
      Install <a href="https://www.virtualbox.org/">VirtualBox</a>.
    </li>
    <li>
      Download our <a href="{{site.swc_vm}}">VM image</a>.
      <strong>Warning:</strong> this file is 1.7 GByte, so please
      download it <em>before</em> coming to your workshop.
    </li>
    <li>
      Load the VM into VirtualBox by selecting "Import Appliance" and
      loading the <code>.ova</code> file.
    </li>
  </ol>
</div>
-->
